@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* pour pas que les boîtes grossissent*/
}


body {
    font-family: "Inter", serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spacebetween {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.btn {
    background-color: #B9625D;
    padding: 16px 55px;
    border-radius: 15px;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

/* header*/




header nav {
    width: 40%;
}

header {
    padding: 10px 40px;
    background-color: #B9625D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}


header img {
    width: 15%;
}

.aligncenter {
    align-items: center;
}

/*HERO*/
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero div {
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* déplacement du centre de gravité */
    text-align: center;
    padding: 64px;
    border-radius: 23px;
    backdrop-filter: blur(10px);
    /* permet au fond de devenir flou et transparent*/
}

h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: white;

}

.hero p {
    font-size: 30px;
    margin-bottom: 35px;
    color: white;
}

.nosproduits {
    flex-wrap: wrap;
}

.images {}

/*.nosservices {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nosservices div {
    width: 30%;
}*/



/*.nosservices div img {
    width: 100%;
    object-fit: covers;*/

h2 {
    z-index: 1;
    text-align: center;
}

/*.location {
    width: 45vh;
    height: 35vh;
    background-image: url("/assets/location.jpg");
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}*/
/*.reconstitution {
    width: 45vh;
    height: 35vh;
    background-image: url("/assets/reconstitution.jpg");
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;

}*/

/*SECTION SERVICES*/

.containerservices div{
   /* background-color: red;*/
    width: 60%;
    margin-left: 80px;
    gap: 32px;
}
 
.containerservices aside{
    background-color: white;
    
    
}

.width70{
    width: 75%;
}

/*.width30{
    width:25%;
}*/

.containerservices img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container{
    max-width: 1200px;
    margin: auto;
}
.card{
    position: relative;
    display: block;
    color: white;
    border-radius: 23px;
}

.card img{
    border-radius: 23px;
}



.card h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sticky{
    position: sticky;
    top: 80px;
}

h3{
    text-align: center;
    margin-bottom: 32px;
}

section{
    margin-bottom: 100px;
}

.filigrane{
    position: fixed;
    top: 192px;
    left: 0px;
    z-index: -1;
}

.black{
    color: black;
}

.témoignage{
    background-color: #B9625D;
}

.sièclespassés{
    width: 45%;
}

.couleurnosservices{
    color: #B9625D;
}

.couleurtext{
    color: white;
}

